@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int? total = 0;
}
@model List<Cart>
<div style="padding-top:20px;display: flex; justify-content:center">
    <div style="display: flex; justify-content:center;width: 70%;background-color:#eee;padding-top:20px">
        <h2>Giỏ hàng</h2>
    </div>
</div>


@if (Model.Count > 0)
{
    <form action="/Order/AddOrder" method="post">
    <div style="display:flex;justify-content:center; padding-top:50px">
        <table class="table table-hover" style="width:70%">
            <thead>
                <tr>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Hương Vị</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>                  
                </tr>
            </thead>
            <tbody>
                @foreach (var pro in Model)
                {
                    <tr>
                        <th scope="row">@pro.Product.Detail.Name</th>
                        <td><img src="~/IMGproject/@pro.Product.Detail.Img" style="width:100px" /></td>
                        <td>@pro.Product.Savor.Description</td>
                        <td>
                            <button type="button" class="btn btn-secondary" onclick="location.href = '/Cart/DeleteCart?did=@pro.Product.DetailId&sid=@pro.Product.SavorId&quantity=1';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                            </button>
                            @pro.Quantity
                            <button type="button" class="btn btn-secondary" onclick="location.href = '/Cart/AddCart?did=@pro.Product.DetailId&sid=@pro.Product.SavorId&quantity=1';">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                                </svg>
                            </button>
                        </td>
                        <td>@pro.TotalPrice()</td>
                        @{
                            total += pro.TotalPrice();
                        }
                        <td><a href="/Cart/RemoveCart?did=@pro.Product.DetailId&sid=@pro.Product.SavorId" onclick="return confirm('Bạn có thực sự muốn xóa không');">Xóa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-8">
        </div>
        <input type="hidden" name="id" value="@total">
        <div class="col-4">
            <p style="font-size:20px;padding-left:30px">Total : @(total)</p>
        </div>

    </div>
    <div style="width:80%;display:flex;justify-content:end;padding-bottom:100px">
        <button type="submit" class="btn btn-primary">Order</button>
    </div>
    </form>
}
else
{
    <div style="display:flex;justify-content:center; padding-top:50px;">
        <h3>Chưa có sản phẩm trong giỏ hàng</h3>
    </div>
}
<div style="display:flex;justify-content:center; padding-top:50px;padding-bottom:100px">
    <a href="/Home/Home">Về mua hàng</a>
</div>

